@page "/chat"
@inject ChatZKLJ.Data.Viewmodels.IMessageVM MessageVM
@inject ChatZKLJ.Data.Services.SignalRService Comms
@using ChatZKLJ.Data
<MudPaper Class="pa-16 ma-2" Elevation="3">
    <ul>
        @foreach(var m in MessageVM.Messages)
        {
            <li>@m.Content</li>
        }
    </ul>
</MudPaper>
<MudForm Model=MessageVM.MessageEditor>
    <MudTextField T="string" @bind-Value=MessageVM.MessageEditor.Content Label="Message"/>
    <div class="d-flex align-center justify-space-between mt-6">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="Send">Send</MudButton>
    </div>
</MudForm>   
@code 
{
    protected override void OnInitialized()
    {
        MessageVM.GetAll();
        StateHasChanged();
        Comms._conn.On<Message>("NewMessage",async (m) => 
            {
                MessageVM.Add(m);
                await base.InvokeAsync(() => StateHasChanged());
            });
    }


    private async Task Send()
    {
        await MessageVM.SaveMessageAsync();
        
    }



}
