@page "/"
@inject Data.Services.SignalRService Comms
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<MudButton @onclick="Tst">Test</MudButton>
<AuthorizeView>
    <Authorized>
        ULOGOVAN
    </Authorized>
    <NotAuthorized>
        NISI
    </NotAuthorized>
</AuthorizeView>

@code
{
   
    protected override async Task OnInitializedAsync()
    {

    }
    private async Task Tst()
    {

        await Comms._conn.InvokeAsync("Ping", "blablabla");
       
    }
}